/*

Title: Stylesheet Template

Author: Modi Chen

*/


/* Layout
------------------------------------------*/
body {
	padding:0px;
	margin: 0px;
	height:100vh;
	overflow: hidden;
}

a:hover {
	cursor: pointer;
}

.container {
	    
    background: url("../images/background.jpg") center center no-repeat fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.leftcurtain {
	width: 50%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 100;
}

.rightcurtain {
	width: 52%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	z-index: 100;
}

 .rightcurtain img, .leftcurtain img{
 width: 100%;
 height: 100%;
 }

.rope {
	position: absolute;
	top: -40px;
	left: 70%;
	cursor:pointer;
	z-index: 101;
}
.rope img {
	position:relative;
	z-index: 4;
}


.showin {
    -webkit-animation: showIn 1.5s;  
    -webkit-transform-origin: middle;
    transform-origin: middle;
    -webkit-transition-timing-function: ease-out; /* Safari and Chrome */
    transition-timing-function: ease-out;
}

.rock {
    width: 100%;
    position: absolute;
    bottom: -500px;
    left: -120px;
}

.trailer {
	position: relative;
    left: 507px;
    bottom: -280px;
    z-index: 100;
}

.panda {
	width: 100%;
	position: relative;
	bottom: 30px;
	z-index: 20;

}

.monkey {
	width: 100%;
    position: absolute;
    bottom: 102px;
    left: 268px;
    z-index: 18;
}

.vaper {
	width: 100%;
    position: absolute;
    bottom: 159px;
    left: 233px;
    z-index: 16;
}

.crane {
	width: 100%;
    position: absolute;
    bottom: 513px;
    left: -53px;
    z-index: 10;
}

.mantis {
	width: 100%;
    position: absolute;
    bottom: 402px;
    left: -400px;
    z-index: 21;
}

.panda img, .rock img, .tigeress img, .monkey img, .vaper img, .crane img, .mantis img{
    display: block;
    margin: 0 auto;
}

.gang {
	width: 1000px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	bottom: 0;
}



.slideUp{
	
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 3s;	
	-webkit-animation-duration: 3s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

.tigeress {
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: -350px;
	z-index: 18;
}

.tiger-show {
	animation-name: tigeressShow;
	-webkit-animation-name: tigeressShow;	
	animation-duration: 3s;	
	-webkit-animation-duration: 3s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;		
}

.crane-show {
	-webkit-animation: craneShow 3.5s ease;
}

.monkey-show {
	-webkit-animation: monkeyShow 3.7s ease;
}

.vaper-show {
	-webkit-animation: vaperShow 3.9s ease;
}

.mantis-show {
	-webkit-animation: mantisShow 4.2s ease;
}

/* Animation
------------------------------------------*/

@-webkit-keyframes showIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}

	70% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	
				
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}	
}


@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(150%);
	}
	40% {
		-webkit-transform: translateY(150%);
	}

	60%{
		-webkit-transform: translateY(-8%);
	}
	90%{
		-webkit-transform: translateY(12%);
	}
	94%{
		-webkit-transform: translateY(-4%);
	}
	97%{
		-webkit-transform: translateY(8%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}



@-webkit-keyframes tigeressShow {
    0% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: 80% 60%;
		opacity: 0;
	}

	93% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: 80% 60%;
		opacity: 0;
	}
	
				
	100% {
		-webkit-transform: scale(1);
		-webkit-transform-origin: 50% 50%;
		opacity: 1;
	}	
}

@-webkit-keyframes craneShow {
    0% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: bottom;
		opacity: 0;
	}

	93% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: bottom;
		opacity: 0;
	}
	
				
	100% {
		-webkit-transform: scale(1);
		-webkit-transform-origin: 50% 50%;
		opacity: 1;
	}	
}

@-webkit-keyframes monkeyShow {
    0% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: -20% 50%;
		opacity: 0;
	}

	96% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: -20% 50%;
		opacity: 0;
	}
	
				
	100% {
		-webkit-transform: scale(1);
		-webkit-transform-origin: 50% 50%;
		opacity: 1;
	}	
}

@-webkit-keyframes vaperShow {
    0% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: bottom;
		opacity: 0;
	}

	96% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: bottom;
		opacity: 0;
	}
	
				
	100% {
		-webkit-transform: scale(1);
		
		opacity: 1;
	}	
}

@-webkit-keyframes mantisShow {
    0% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: 100% 50%;
		opacity: 0;
	}

	96% {
		-webkit-transform: scale(0.2);
		-webkit-transform-origin: 100% 50%;
		opacity: 0;
	}
	
				
	100% {
		-webkit-transform: scale(1);
		-webkit-transform-origin: 50% 50%;
		opacity: 1;
	}	
}

/* slide* ------------------------------ */

#slide1{
	background-image: url("../images/slide1.jpg");
	padding: 0;
}

#slide2{
	background-image: url("../images/slide2.jpg");
	padding: 0;
}

#slide3{
	background-image: url("../images/slide3.jpg");
	padding: 0;
}

#slide4{
	background-image: url("../images/slide4.jpg");
	padding: 0;
}

#slide5{
	background-image: url("../images/slide5.jpg");
	padding: 0;
}

#slide6{
	background-image: url("../images/slide6.jpg");
	padding: 0;
}

.slide{
	background-size: cover;
	/*background-position: center top;*/
}

.slide img {
	 margin-bottom: -7px;
}

.slide p {
	background-color: black;
	padding: 26px;
	line-height: 30px;
	color: white;
	font-size: 20px;
	font-weight: 100;
	font-family: 'Roboto Slab', serif;
	text-align: left;
	border-top: 5px solid #fedd66;
	width: 100%;
	position: relative;
	bottom: 0;
}


/* TRAILER
------------------------------------------*/
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.8);
}

.overlay div {
	width: 858px;
	height: 768px;
	max-width: 100%;
	margin: 4em auto;
	background: url("../images/cinema.png") no-repeat;
}

.accessibly-hidden {
	position: absolute;
	left: -999em;
}

iframe {
	position: relative;
    top: 132px;
    left: 4px;
}

.hide {
	position: relative;
    left: 756px;
    top: -164px;
}


/* Navigation* ------------------------------ */

.nav {
	width: 100%;
	 position: absolute;
	/*left: 50%;
	margin-left: -500px;*/
	z-index: 999;
}

#menu {
	position: absolute;
	top: 0;
	list-style: none;
	text-align: center;
	width: 100%;
	font-family: Georgia;
	font-size: 20px;
}

.chinese {
	opacity: 0.3;
}



#menu li {
	display: inline-block;
	vertical-align: middle;
	padding-top: 0;
	padding-right: 20px;
}


/*#menu li a:hover { 
	color: rgba(255,255,255, 0.3); 
}*/

.logo {
	width: 100%;
	z-index: 99;
}

.logo img {
	width: 370px;
}


.scroll {
	position: absolute;
	background-image: url("../images/menu.png");
	width: 100%;
	height: 70px;
	margin-top: 22px;
}

.ls, .rs {
	position: absolute;
	top:0;
}

.ls {
	left: -8px;
}

.rs {
	right: -8px;
}


span {
    position: relative;
    left: -10px;
    bottom: -8px;
}

.hidden {
	visibility: hidden;
}


/* Charactor* ------------------------------ */

h1 {
	font-family: 'Sigmar One', cursive;
}

#section2 {
	background: url("../images/character.jpg") no-repeat;
	background-size: cover;
	
	
}
.moji{
	position: absolute;
	bottom: -300px;
    left: 0px;
  
}

.ch_panda {
	position: absolute;
    bottom: 142px;
    left: 500px;
}

.ch_tigeress {
	position: absolute;
    bottom: 227px;
    left: 321px;
}

.ch_monkey {
	position: absolute;
    bottom: 247px;
    left: 279px;
}

.ch_viper {
	position: absolute;
    bottom: 258px;
    left: 183px;
}

.ch_crane {
	position: absolute;
    bottom: 276px;
    left: 56px;
}

.ch_mantis {
	position: absolute;
    bottom: 358px;
    left: 300px;
}

.intro {
	position: absolute;
	right: 40px;
    top: 140px;
    width: 300px;
	height: auto;
	text-align: left;
}

.intro h1 {
	font-size: 35px;
	color: #f6ed89;
	font-family: 'Roboto Slab', serif;
}

.intro p {
	width: 100%;
    margin-top: 2em;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: white;
}






/* Quiz* ------------------------------ */

#section3 {
	background: url("../images/quiz.jpg") no-repeat;
	background-size: cover;
	background-position: top left;
	/*padding-top: 3em;*/
	text-align: left;
}

#quiz {
    position: absolute;
    top: 130px;
}


.answerssss {
	display: flex;
	flex-wrap: wrap;
}

.question {
	font-weight: bold;
	font-family: Arial;
	padding-left: 50px;
    text-align: left;
	max-width: 527px;
	margin-left: 200px;
	font-family: 'Roboto Slab', serif;
}
.answer2 {
	font-weight: 100;
	padding-left: 46px;
    padding-right: 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	min-height: 35px;
	background: url("../images/bowl.png") no-repeat;
	padding-top: 4px;
	
}
.answer2:hover {
	
}

.clicked {
	background: url("../images/baozi.png") no-repeat;
	background-position: 0px 0px;
}

#results {
	width: 500px;
	height: 73px;
	overflow: hidden;
}

#results img {
	margin-left: 301px;
}
#results img:hover {
	margin-top: -92px;
	cursor: pointer;
}
#yougot {
    position: absolute;
    left: 248px;
    bottom: -40px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}

.footer p {
	font-family: arial;
	background: black;
	text-align: center;
	color: white;
	font-size: 11px;
	padding: 9px;
}


/* Media query mobile screen
------------------------------------------*/
@media screen and (max-width: 600px) {
	.gang {
	width: 320px;
	}

	.panda img{
	width: 280px;
	position: relative;
	left: 355px;
	}

	.tigeress {
    left: 59px;
    }

    .tigeress img {
    	width: 314px;
    	position: relative;
    	left: 113px;
    }

    .monkey img{
    	width: 280px;
    	position: relative;
    	left: 164px;
    }

    .vaper img{
    	width: 120px;
    	position: relative;
    	left: 231px;
    }
	
	
    .crane img {
        width: 318px;
		position: relative;
		left: 369px;
		bottom: -210px;
    }

    .mantis img {
    	width: 314px;
    	position: relative;
    	left: 113px;
    }


	.nav {
		/*max-width: 375px;*/
		height: auto;
		margin-left: 0px;
		left: 0;

	}

    .scroll {
    	/*max-width: 375px;*/
    	height: 113px;
    	background-image: url("../images/mobile_menu.png");
		margin-top: 0;
    } 

   
    span {
	    position: relative;
	    left: 6px;
	    top: 68px;
	}

    .ls, .rs {
    	top: 20px;
    }

    #menu li { 
	    padding-right: 7px;
    }

    .trailer {
    	visibility: hidden;
    }

    .slide img {
    	max-width: 50%;
	    margin-bottom: -7px;
    }

    .slide p {
	    font-size: 16px;
		padding: 5px 7px 5px 7px;
		bottom: 0;
    }

    .intro {
    	left: 20px;
        top: 132px;
        width: 338px;
    }

    .intro h1 {
    	font-size: 30px;
    }

	.intro p {
		font-size: 16px
	}

	.moji {
		width: 500px;
		bottom: -156px;
	}

	.ch_panda {
		bottom: 67px;
		left: 260px;
		width: 102px;
	}

    .ch_tigeress {
	    bottom: 93px;
	    left: 171px;
	    width: 102px;
    }

    .ch_monkey {
	    bottom: 93px;
	    left: 111px;
	    width: 102px;
    }

    .ch_viper {
	    bottom: 115px;
	    left: 47px;
	    width: 77px;
    }

    .ch_crane {
	    position: absolute;
	    bottom: 432px;
	    left: 230px;
	    width: 120px;
    }

    .ch_mantis {
	    bottom: 123px;
	    left: 20px;
	    width: 35px;
    }

    #section3 {
		background-position: top left;

}

@media screen and (max-width:950px) {

	#menu img {
			width: 0px;
	}

	span {
		position: relative;
		left: 6px;
		top: 68px;
    }

    #quiz {
    	
    	left:0px;
    }

    .question {
    	margin-left: 0px;
    	max-width: 340px;
    	padding-left: 20px;
    	font-size: 14px;
    }

    .answer2 {
    	min-height: 25px;
    	padding-top: 0px;

    }

    .questiong-5{
    	visibility: hidden;
    }

    #results {
		margin-bottom: 40px;
    }

    #results img {
    	margin-left: 77px;
    	bottom: 50px;
    }

    #yougot {
    	left: 8px;
        bottom: -40px;
    }

}















